# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
/build
develop-eggs/
dist/
/dist
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
/predictPAM.egg-info
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Logs and Configuration
*.log
.vscode/

# Sphinx documentation
docs/_build/
docs/source/_static
docs/source/_templates

# PyBuilder
target/

# pyenv
.python-version

# System Files
*.DS_Store

# Data and Project Specific Files
*.csv
targets.csv
*.sam
*.sketch
*.bat
*.pptx
GuideMaker_filter_feature_testing.xls
/bowtie

# Test scripts and local data data exclusions
testing.py
test_ts.py
test/EcoliPrefilter.py
test/test_data/Ecoli_prefilter_GM.csv
test/test_data/Escherichia.coli_str_K-12_substr_MG1655.fasta
test/test_data/Arabidopsis_thaliana.gbk
